[submodule "currency-convertor"]
	path = currency-convertor
	url = https://github.com/JuanMartinUribe/currency-convertor.git
[submodule "eat-n-split"]
	path = eat-n-split
	url = https://github.com/JuanMartinUribe/eat-n-split.git
[submodule "use-popcorn"]
	path = use-popcorn
	url = https://github.com/JuanMartinUribe/use-popcorn.git
[submodule "travel-list"]
	path = travel-list
	url = https://github.com/JuanMartinUribe/travel-list.git
[submodule "bill-calculator"]
	path = bill-calculator
	url = https://github.com/JuanMartinUribe/bill-calculator.git
